/*
  ===============================
    BASE STYLES
  ===============================
*/
.container {
  padding: 1.3rem;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  background-color: black;
}

.links {
  display: none;
}

.links li {
  list-style: none;
}

.links li a {
  margin: 0 1rem;
  padding: 0.5rem;
}

.mobileMenu {
  font-size: 1.6rem;
  cursor: pointer;
}

.mobileLinks {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: darkblue;
}

.mobileLinks ul {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobileLinks li {
  padding: 0.5rem 0;
  width: 100%;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid black;
}

.mobileLinks li a {
  padding: 0.5rem 0;
}

/*
  ===============================
    MEDIUM / TABLET
  ===============================
*/
@media (min-width: 550px) {
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu,
  .mobileLinks {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 1.3rem 5%;
  }
}

/*
  ===============================
    LARGE / DESKTOP
  ===============================
*/
@media (min-width: 1024px) {
  .container {
    padding: 1.3rem 10%;
  }
}